@import "base";

.downloads{
    display: flex;
    max-width: $max-window-width;
    margin: 0 auto;
    &__img{
        flex: 1;
        padding: 10px;
        position: relative;
        img{
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
        }
        
    }
    &__text{
        flex: 1;
        padding: 130px;
        text-align: left;
    }
    &__content{
        text-align: left;
    }
    
}