.feedback{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 0;

    
    &_img{
        flex: 1;
        
    }
    &_text{
        flex: 3;
        

    }
    .user__infomation{
        flex: 2;
        

    }
}
@media (max-width:720px){
    .feedback{
        flex-direction: column;
    }
}