.new
{

    &-card{
        // display: flex;
        // flex-direction: column;
        margin: 0 auto;
        width: 80%;
        &__img{
        width: 100%;
        }
    
    
    }
}
.card-link{
    text-decoration: none;
}
.arrow-icon{
    margin-left: 5px;
}